.jury
{
	font-size: 30px;
	font-weight: 100;
}
img.preview_picture
{
	float:left;
	width: 70px; 
	height: 70px; 
	border-radius: 100%;
}
div.text
{
	margin-left: 77px;
	font-size: 16px;
}
div.autor
{
	font-size: 16px;
}
.input
{
	padding-left: 7px;
	margin: 4px 10px; 
}
.input_reg
{
	width: 220px;
	height: 36px;
	background: #4A1076;
	border: 0px;
	color: white;
}
.error
{
	font-size: 20px;
	color: red;
}
.noerror
{
	font-size: 20px;
	color: green;
}

div.bx-auth-reg input.bx-auth-input 
{
	vertical-align:middle;
}
div.bx-auth-reg span.bx-auth-secure 
{
	background-color:#FFFAE3; 
	border:1px solid #DEDBC8; 
	padding:2px; 
	display:inline-block; 
	vertical-align:middle;
}
div.bx-auth-reg div.bx-auth-secure-icon 
{
	background-image:url(images/sec.png); 
	background-repeat:no-repeat; 
	background-position:center; 
	width:19px; 
	height:18px;
}
div.bx-auth-reg div.bx-auth-secure-unlock 
{
	background-image:url(images/sec-unlocked.png);
}
.div-button
{	
	padding: 40px;
	height: 130px;
}
.button 
{
	padding: 15px 30px 15px 30px;
	border: .5px solid #A9AAAB;
	border-radius: 7px;
	background: white;
	color: #777777;
	transition: background-color 2s ease-out;
} 
.button:hover 
{ 
	background-color: #1EA6E5; 
	color: white;
	border: .5px solid #1EA6E5;
	cursor: pointer;
}
.button:focus
{
	outline: none;
}
.reg
{
	font-size: 25px;
	color: #4A1076;
	background: #F6F6F6;
	padding: 25px;
}